<header class="app-header">
    <div class="header-content">
        <div class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#2ecc71" width="36px" height="36px">
                <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/>
            </svg>
            <h1>Advanced Todo App</h1>
        </div>
        <div class="date-display">
            <span id="current-date"></span>
        </div>
    </div>
    <div class="progress-bar">
        <div class="progress" style="width: <%- completedPercentage %>%"></div>
    </div>
</header>