<%- include("partials/header.ejs") %>

    <% if (locals.adjective && locals.noun) { %>
        <h1>
            <%= adjective %>
                <%= noun %>
        </h1>
        <% } else { %>
            <h1>Welcome</h1>
            <% } %>






                <%- include("partials/footer.ejs") %>